* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: sans-serif;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
}



.row > div > div {
	background-color: #999999;
	border: 2px solid black;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

h2 {
	width: 100px;
	text-align: center;
	border: 2px solid black;
	position: absolute;
	top: -2px;
	right: -2px;
}

#rock {
	background-color: #D59898;
}

#jazz {
	background-color: #C14543;
}

#pop {
	background-color: #E5D198;
}

p {
	margin-top: 40px;
	width: 90%; 
	min-height: 110px;
	margin-right: auto;
	margin-left: auto; 
	padding-bottom: 10px;
}


/** MEDIA QUERY FOR LARGE SCREEN **/

@media (min-width: 992px) {

	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
	.col-lg-10, .col-lg-11, .col-lg-12 {
		float: left;
	}

	.col-lg-4 {
		width: 33.33%;
	}

}

/** MEDIA QUERY FOR MEDIUM SCREEN **/

@media (min-width: 767px) and (max-width: 991px) {

	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
	.col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-12 {
		width: 100%;
	}

}